<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>ko</string>
	<key>CFBundleDisplayName</key>
	<string>소희야 가자</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>Google Drive OAuth</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(GOOGLE_DRIVE_REDIRECT_SCHEME)</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>GoogleDriveOAuthClientID</key>
	<string>$(GOOGLE_DRIVE_OAUTH_CLIENT_ID)</string>
	<key>GoogleDriveRedirectScheme</key>
	<string>$(GOOGLE_DRIVE_REDIRECT_SCHEME)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>고객리스트 문서를 촬영해 OCR로 가져오기 위해 카메라를 사용합니다.</string>
	<key>NSContactsUsageDescription</key>
	<string>연락처에서 고객을 가져오거나 고객을 연락처 그룹으로 일괄 등록하기 위해 연락처 접근 권한이 필요합니다.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>방문 히스토리에 현재 위치의 주소와 지도 메모를 남기기 위해 위치 권한이 필요합니다.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>고객 방문 음성 메모를 녹음하기 위해 마이크를 사용합니다.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>촬영한 고객리스트 사진을 OCR로 가져오기 위해 사진 보관함을 사용합니다.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>음성 메모를 iPhone에서 텍스트로 전사하기 위해 음성 인식 권한이 필요합니다.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
